<h1 style="font-size:50px;">Sign In</h1>

<%= form_for :secondpage do |f| %>
<p>
	<%= f.label :Username %> <br>
	<%= f.text_field :Username %>
</p>

<p>
	<%= f.label :Password %> <br>
	<%= f.text_field :Password %>
</p>

<p>
	<%= f.submit %>
</p>
<% end %>
<p>Find me in app/views/secondpage/signin.html.erb</p>
