<h1 style="font-size:50px;">Sign Up</h1>
<%= form_for :Create_an_account do |f| %>
<p>
	<%= f.label :first_name %><br>
	<%= f.text_field :first_name %>
</p>

<p>
	<%= f.label :last_name %><br>
	<%= f.text_field :last_name %>
</p>

<p>
	<%= f.label :email %> <br>
	<%= f.text_field :email %>
</p>

<p>
	<%= f.label :Password %> <br>
	<%= f.text_field :Password %>
</p>

<p>
	<%= f.label :re_enter_password %> <br>
	<%= f.text_field :reenter_password %>
</p>

<p>
	<%= f.submit %>
</p>
<% end %>

<p>Find me in app/views/secondpage/signup.html.erb</p>
